/* .habit-card-container input[type="checkbox"] {
  display: none;
}

.habit-card-container input + label {
  display: inline-block;
  width: 100%;
  /* height: 192px; */
/* cursor: pointer; */
/* background-image: url(../../assets/icons/logo192.png);
  color: blue; */
/* }  */
/* .my-custom-input-label-box input[type="checkbox"]:checked + label {
	background-image: url(/images/service/checkbox-checked.png)
} */

.habit-card-container {
  width: 100px;
  height: 100px;
  border: 1px solid green;
}

.habit-icon {
  width: 80px;
  height: 80px;
}
