.weekly-card {
  width: 150px;
  background: white;
  border: 1px solid grey;
}

.weekly-card-mood {
  color: purple;
}

.weekly-card-habit {
  font-size: 16px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .weekcard-holder {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 300px) {
  .weekly-card {
    width: 80vw;
  }
}
