.habit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.habit-image {
  width: 50vw;
}

.habit-form-div {
  width: 50vw;
}

.habit-form-question {
  margin: 1rem;
}

.habit-form {
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 1rem;
}

.mood-submit-button,
.habit-submit-button {
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
}

.mood-submit-button:hover,
.habit-submit-button:hover {
  background: #AEC992;
}
