.App {
  text-align: center;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  height: 20%;
}

.nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  margin: 1rem;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}
