.App {
  text-align: center;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  margin: 1rem;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}
