.completed-habits,
.today-mood-container {
  background: rgba(255, 255, 255, 0.80);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-mood-container {
  flex-direction: column;
}
