.dashboard-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dashboard-container::before {
  content: "";
  background-image: url('https://images.unsplash.com/photo-1594486968161-50ef4355ce11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
}

.page-title {
  margin: 5rem;
  position: relative;
}

.page-quote {
  position: relative;
  font-weight: bold;
  background: rgba(255,255,255, 0.85);
}

.today-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.completed-habits-container {
  margin: 1rem 0.5rem 2rem;
}

.completed-habits {
  gap: 10px;
  flex-wrap: wrap;
  width: 50vw;
}

.completed-habit {
  width: 140px;
  display: flex;
  align-items: center;
}

.week-container {
  background: #e6eaee;
  height: 100vh;
}
