#login-form-container,#signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  height: 100vh;
  background-image: url(../../assets/dashboard-background.png);
  background-size: cover;
}

#login-btn, #signup-btn{
  margin-top: 20px;
}
